<div class="sidebar-wrapper">
  <div class="logo">
    <a href="./" class="simple-text logo-mini">
      <div class="logo-image-small">
        <img src="./assets/img/logo.png">
      </div>
    </a>
    <a href="./" class="simple-text logo-normal">
      DCD Lab Angular
    </a>
  </div>

  <div *ngIf="things$ | async as things else noData">
    <form>
      <div class="form-group">
        <label for="things">Select a Thing or Property to explore</label>
        <select class="form-control" id="things" (change)="selectThing($event.target.value);">
          <option *ngFor="let thing of things" [value]="thing.id">{{thing.name}}</option>
        </select>
      </div>
    </form>
  </div>

  <ng-template #noData>No Thing available</ng-template>

  <!-- <ul class="nav">
    <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
      <a [routerLink]="[menuItem.path]">
        <i class="nc-icon {{menuItem.icon}} {{menuItem.type}}"></i>
        <p>{{menuItem.title}}</p>
      </a>
    </li>
  </ul> -->
</div>